@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Patrick+Hand+SC&family=Play:wght@400;700&family=Share+Tech+Mono&display=swap');

:root {

body {
    background-color: #f72585;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.homeheader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:  #7209b7;
    padding: 15px;
}
.homeheader .welcome {
    color: white;
    font-family: "IBM Plex Mono", sans-serif;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: auto;
}
.homeheader .welcome1 {
    color: white;
    font-family: "IBM Plex Mono", sans-serif;
    grid-column: 1 / 3;
    grid-row:  3;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav, nav a {
    border: none;
}
nav a {
    font-family: "IBM Plex Mono", sans-serif;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.5em;
    grid-column: 2 / 3;
    grid-row: 3;
    color: white;
    max-width: 100%;
    grid-gap: 10px;
}
.homediv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.homediv .first1{
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 1;
}
.homediv .first2{
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 3 ;
}
.homediv p {
    color: white;
    background-color: #3a0ca3;
    font-family: "Patrick Hand SC",  "Play", "Share Tech Nano", sans-serif;
    font-size: 1.5em;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    padding: 30px;
    margin: 0;
    text-align: left;
}
nav a:hover {
    background-color: #4361ee;
    border-radius: 0px;
    border-radius: 20px;
}

footer{
    background-color: #7209b7;
    display: grid;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-family: "IBM Plex Mono", sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0;
}
footer h2 {
    color: white;
    font-family: "IBM Plex Mono", sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0;
}
footer a {
    text-align: center;
    color: white;
    padding: 10px;
}
footer div .siteplan {
    text-align: center;
    margin: 0;
    padding: 10px;
}
.social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

}
